/***************************************************************************/
/* GLOBAL */
/***************************************************************************/
*{
    padding: 0; margin: 0; font-family: Georgia; zoom: 100%;
}

.bodyIniciarSesion {
    background: linear-gradient(135deg, #ecf0f1 50%, #f1c40f 50%);
    height: 100vh;
    max-height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorInicioSesion {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 400px;
}

.valido{
    background-color: #28a745; /*tambien #38c172*/
    border-color: #28a745;
    color: #fff;
}

.noValido{
    background-color: #fb615c; /*tambien #e3342f*/
    border-color: #fb615c;
}

.advertencia{
    background-color: #ffde7c;
    border-color: #ffde7c;
}

.errorLabel{
    color: red;
    font-size: 0.9rem;
    display: none;
}

input, button{
    padding: 0.7rem !important;
}



/***************************************************************************/
/* SECCION DE INICIAR SESION */
/***************************************************************************/
#enlaceInicio,
#enlaceInicioSesion,
#enlaceRegistrarse{
    text-decoration: none;
    cursor: pointer;
    color: rgb(104, 104, 104);
}
#enlaceInicio:hover,
#enlaceInicioSesion:hover,
#enlaceRegistrarse:hover{
    color: #151100;
}

.contenedorInicioSesion h2 {
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}



/***************************************************************************/
/* SECCION DE REGISTRARSE */
/***************************************************************************/
.contenedorRegistrarse {
    max-width: 800px;
}

.form-check-input:checked{
    background-color: #ffd600;
    border-color: #f1c40f;
}
.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(241, 196, 15, 0.5);
    border-color: #f1c40f;
}

.form-select:focus, .form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(241, 196, 15, 0.5);
    border-color: #f1c40f;
}